@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333333;
  background: #F8F3D4;
}

/* Custom styles for cards, buttons, etc. */
.card {
  @apply bg-[#FFFFFF] rounded-[2rem] shadow-[0_10px_25px_-5px_rgba(0,0,0,0.1),0_8px_10px_-6px_rgba(0,0,0,0.1)];
  padding: 1.5rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 300ms;
  font-weight: 500;
}

.btn-primary {
  background-color: #00B8A9;
  color: #FFFFFF;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-secondary {
  background-color: #F6416C;
  color: #FFFFFF;
}

.btn-secondary:hover {
  opacity: 0.9;
}

.btn-accent {
  background-color: #FFDE7D;
  color: #333333;
}

.btn-accent:hover {
  opacity: 0.9;
}